.places__content{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 48px;
}

@media screen and (max-width: 540px){
    .places__content{
        flex-direction: column;
        margin-top: 32px;
    }
}