.photo-grid{
    max-width: 1184px;
    display: grid;
    margin: 92px 48px 92px 48px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-template-rows: auto;
    gap: 16px;
    object-fit: cover;
}

@media screen and (max-width: 1120px){
    .photo-grid{
        gap: 14px;
    }
}

@media screen and (max-width: 960px){
    .photo-grid{
        margin: 88px 24px 88px 24px;
        gap: 16px;
    }
}

@media screen and (max-width: 540px){
    .photo-grid{
        margin: 64px 16px 64px 16px;
        gap: 12px;
    }
}