.intro__list{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.5;
    color: #FFFFFF;
    list-style: none;
    padding: 0;
    margin: 33px 0 0 0;
}