.cover__desctiption{
    max-width: 360px;
    margin: 0;
    text-align: center;
    margin-top: 32px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    z-index: 2;
}
@media screen and (max-width: 540px){
    .cover__desctiption{
        max-width: 280px;
        margin-top: 16px;
        font-size: 14px;
        line-height: 16px;
    }  
}