.footer__links{
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, min-content);
    gap: 18px;
}

@media screen and (max-width: 540px){
    .footer__links{
        grid-template-columns: 186px;
        grid-template-rows: repeat(5, min-content);
        gap: 32px;
    }
  }