.intro{
    margin-left: 148px;
    margin-top: 92px;
    max-width: 690px;
    margin-right: 0;
}

@media screen and (max-width: 1120px){
    .intro{
        margin-left: 48px;
    }
}

@media screen and (max-width: 960px){
    .intro{
        max-width: 720px;
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (max-width: 540px){
    .intro{
        max-width: 100%;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 64px;
    }
}