.places__place_header{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    margin: auto;
}

@media screen and (max-width: 540px){
    .places__place_header{
        flex-direction: column;
    }
}

@media screen and (max-width: 540px){
    .places__place_header{
        margin: 0 16px 0 16px;
    }
}