.places__place{
    margin-top: 80px;
}
.places__place:first-child{
    margin-top: 0;
}
.places__place:last-child{
    margin-bottom: 92px;
}

@media screen and (max-width: 960px){
    .places__place{
        margin-top: 73px;
    }
}

@media screen and (max-width: 540px){
    .places__place{
        margin-top: 50px;
    }
    .places__place:last-child{
        margin-bottom: 66px;
    }
}