.plases__place_paragrafs{
    margin: 0 0 0 40px;
}

@media screen and (max-width: 1120px){
    .plases__place_paragrafs{
        margin: 0 0 0 32px;
    }
}

@media screen and (max-width: 960px){
    .plases__place_paragrafs{
        margin: 0 0 0 28px;
    }
}

@media screen and (max-width: 540px){
    .plases__place_paragrafs{
        margin: 0 16px 0 16px;
    }
}