.lead__caption{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 0;
}

@media screen and (max-width: 1010px){
    .lead__caption{
        margin-left: 24px;
    }
}

@media screen and (max-width: 540px){
    .lead__caption{
        margin-left: 16px;
    }
}