.places__paragrafs{
    margin: 0 0 0 40px;
}

@media screen and (max-width: 1120px){
    .places__paragrafs{
        margin: 0 0 0 32px;
    }
}

@media screen and (max-width: 960px){
    .places__paragrafs{
        margin: 0 0 0 28px;
    }
}

@media screen and (max-width: 580px){
    .places__paragrafs{
        margin: 0 16px 0 16px;
    }
}