.footer{
    margin: 92px 48px 0 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 960px){
    .footer{
        margin: 88px 16px 0 16px;
        flex-direction: column;
    }
}

@media screen and (max-width: 540px){
    .footer{
        margin: 64px 16px 0 16px;
    }
}