.places__website{
    align-self: flex-end;
    margin-left: 40px;
    margin-top: 0;
    max-width: 456px;
}
@media screen and (max-width: 1120px){
    .places__website{
        margin-left: 32px;
    }
}

@media screen and (max-width: 960px){
    .places__website{
        max-width: 352px;
        margin-left: 28px;
    }
}

@media screen and (max-width: 580px){
    .places__website{
        max-width: 288px;
        margin-left: 0;
        align-self: start;
        margin-top: 32px;
    }
}